#main-page {
    margin: 100px 0 0 0;
}

#window {
    border: 1px solid;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#window img {
    width: 100px;
    /*transform: translate(-200px, 0);*/
    animation: move 3s infinite;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-500%);
    }
}